<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Flash Card của {{writer}}</title>
	</head>
	
	<body>
		<h1 class="title">{{name}}</h1>
		<h2 class="writer">{{writer}}</h1> 
		<br>
		<h3>Thêm Từ</h3>
		<p><a href="/add-word/vocab">Add vocabulary</a></p>
		<p><a href="/add-word/phrasal">Add phrasal verbs </a></p>
		<p><a href="/add-word/patterns">Add word patterns</a></p>
		<br>
		<h3>Học xuôi</h3>
		<p><a href="/study?word_type=vocab&reverse=0">Study vocabulary</a></p>
		<p><a href="/study?word_type=phrasal&reverse=0">Study phrasal verbs</a></p>
		<p><a href="/study?word_type=patterns&reverse=0">Study word patterns</a></p>
		<br>
		<h3>Học ngược</h3>
		<p><a href="/study?word_type=vocab&reverse=1">Study vocabulary</a></p>
		<p><a href="/study?word_type=phrasal&reverse=1">Study phrasal verbs</a></p>
		<p><a href="/study?word_type=patterns&reverse=1">Study word patterns</a></p>
	</body>
</html>
