{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<h1>Hướng dẫn sử dụng</h1>
	</div>
	<div class="row">
		<h2>Thêm collection</h2>
		<p>- Thêm bộ sưu tập bằng cách nhấp chuột vào ( Add Collection ) ở trên thanh điều hướng </p>
		<p>- Nhập tên của bộ sưu tập vào rồi chọn ( Submit )</p>
	</div>

	<div class="row">
		<h2>Thêm flashcard</h2>
		<p>- Thêm flashcard bằng cách nhấp chuột vào ( Add Flashcard ) ở trên thanh điều hướng và chọn bộ sưu tập bạn muốn thêm câu hỏi vào </p>
		<p>- Nhập câu hỏi và đáp án tương ứng rồi chọn ( Submit )</p>
	</div>

	<div class="row">
		<h2>Ôn Tập</h2>
		<p>- Xem lại những flash card bạn đã thêm bằng cách chọn ( Study ) ở trên thanh diều hướng và chọn tên bộ bạn muốn ôn tập</p>
	</div>
</div>
{% endblock %}